* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error-screen {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 1px dotted;
}

.head-part {
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  border: 1px dotted;
  display: flex;
  justify-content: space-between;
}

.menu-button {
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.page-heading {
  flex: 0 0 96.5%;
}

.flex {
  display: flex;
}

.center-t {
  flex: 0 0 100%;
  text-decoration: underline;
  text-align: center;
}

.nav-bar {
  flex: 0 0 20%;
  transform: translate(-100%);
  transition: all 100ms linear;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
}

.nav-bar ul li {
  flex: 0 0 100%;
  display: flex;
  border: 1px dotted;
  padding: 8px 0;
  margin: 4px;
  text-align: center;
  font-size: 1.7rem;
}

.nav-bar ul li p {
  text-decoration: none;
  flex: 0 0 100%;
}

.body-part {
  flex: 0 0 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform: translate(-20%);
  transition: all 100ms linear;
}

.heading-part {
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: normal;
}

.temp-report-style {
  font-size: 1.2rem;
  border: 1px dotted;
  padding: 10px;
  margin-bottom: 5px;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.close-comparison-button {
  padding: 5px 10px;
  font-size: 1.2rem;
  margin-top: 30px;
}

.temp-report-style p {
  flex: 0 0 100%;
  text-align: center;
}

.show-navBar {
  transform: translate(0%);
}

.move-bodyPart {
  flex: 0 0 79vw;
  margin: 5px;
  transform: translate(0%);
}

.hidden {
  display: none;
}
