* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(1, 1, 39);
  color: grey;
}

.main-cont {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
}

.small-text {
  font-size: 1rem;
}

.header {
  width: 100vw;
  text-align: center;
  line-height: 1.6;
  border: 3px dotted;
  font-size: 1.8rem;
}

.city-cont {
  height: 50%;
  width: 60%;
  background: black;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

.city-button {
  flex: 0 0 26%;
  font-size: 1.5rem;
  padding: 5px;
}
